@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
@using (Html.BeginForm("Save", "Customers")) //here Customers is controller and create is action
{
    @Html.ValidationSummary(true, "Please fix the following errors.") //shows validation summary
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name) @*can also use raw html-> <label></label> tag*@
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })  @*can also use <input> tag*@
        @Html.ValidationMessageFor(m => m.Customer.Name)   @*validation message placeholder(The third step for validation)*@
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId) @*can also use raw html-> <label></label> tag*@
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })  @*can also use <input> tag*@
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate) @*can also use raw html-> <label></label> tag*@
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })  @*can also use <input> tag*@
        @Html.ValidationMessageFor(m => m.Customer.Birthdate)
    </div>


    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed To Newsletter?
        </label>
    </div>

    @Html.HiddenFor(m => m.Customer.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}
