@model Vidly.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>
@using (Html.BeginForm("Create", "Customers")) //here Customers is controller and create is action
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name) @*can also use raw html-> <label></label> tag*@
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })  @*can also use <input> tag*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate) @*can also use raw html-> <label></label> tag*@
        @Html.TextBoxFor(m => m.Customer.Birthdate, new { @class = "form-control" })  @*can also use <input> tag*@
    </div>

    <div class="checkbox"></div>
    <label>
        @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed To Newsletter?
    </label>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId) @*can also use raw html-> <label></label> tag*@
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type" ,new { @class = "form-control" })  @*can also use <input> tag*@
    </div>
}
